<mat-toolbar class="header">
  <button mat-button routerLink="/" *ngIf="!auth.isAuthenticated">ГОЛОВНА</button>
  <button mat-button routerLink="/body" *ngIf="auth.isAuthenticated">СПИСОК ТОВАРІВ</button>
  <button mat-button routerLink="/new-products" *ngIf="auth.isAuthenticated">СТВОРИТИ НОВИЙ</button>
  <button mat-button routerLink="/update" *ngIf="auth.isAuthenticated">РЕДАГУВАТИ ІСНУЮЧИЙ</button>
  <button mat-button routerLink="/delete-products" *ngIf="auth.isAuthenticated">ВИДАЛИТИ ІСНУЮЧИЙ</button>
  <span style="flex: 1 1 auto"></span>
  <button mat-button *ngIf="auth.isAuthenticated" (click)="auth.logout()">ВИЙТИ</button>
  <button mat-button *ngIf="auth.isAuthenticated">ЛАСКАВО ПРОСИМО, {{(auth.getUserName).toUpperCase()}}</button>
  <button mat-button routerLink="/register" *ngIf="!auth.isAuthenticated">ЗАРЕЄСТРУВАТИСЯ</button>
  <button mat-button routerLink="/login" *ngIf="!auth.isAuthenticated">УВІЙТИ</button>
</mat-toolbar>
