
table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.mat-header-cell {
  color: #9B5106;
  font-weight: bold;
  font-family: Verdana;
  text-align: center;
}

/*th{
  background-color: #f4ab76;

}*/

.mat-cell {
  text-align: center;
}
