table {
  width: 100%;
  margin-top: 30px 30px 5px 5px;
}

.mat-header-cell {
  color: #9B5106;
  font-weight: bold;
  font-family: Verdana;
  text-align: center;
}

.mat-cell {
  text-align: center;
}
.edit {
  background-color: #A06B03; /*#9B5106;*/
  color: white;
}
